.dark {
  --bgColor: #181818;
  --fontColor: #c0c0c0;
  --bgColor2: #2b2b2b;
  --spColor: #f59aa9;
  --tbborder: #7a7a7a;
  --codebgColor: rgba(255,255,255,0.06);
}
.light {
  --bgColor: #fee1ea;
  --fontColor: #000;
  --bgColor2: #fafafa;
  --spColor: #9c0e06;
  --tbborder: #ebebeb;
  --codebgColor: #fafafa;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  --global-font-family: 'Playfair Display', 'Noto Sans SC', sans-serif;
}
body {
  background-color: var(--bgColor);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.main-body a {
  color: var(--spColor);
  transition: color 0.5s;
}
.show-area {
  width: 70rem;
  margin: auto;
  margin-top: 5rem;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.main-body {
  margin-top: 0rem;
  animation-name: main-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  min-height: 70vh;
}
.main-body-inside {
  margin-top: 0rem;
  margin-bottom: 0rem;
  animation-name: main-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.blog-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem; /* 或适当的高度 */
}
.blog-title {
  margin: 1rem;
}
.blog-desc {
  margin-bottom: 0rem;
  font-weight: normal;
  text-align: center;
}
.blog-info {
  text-align: justify;
}
.posts-header {
  margin: 1.5rem 0;
}
.toc-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  pointer-events: none;
}
.toc-toggle {
  margin-left: auto;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  pointer-events: auto;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  box-shadow: 1px 0 var(--bgColor);
}
.toc-toggle i {
  cursor: pointer;
  pointer-events: auto;
  color: var(--fontColor);
  transition: color 0.5s;
}
.toc {
  display: none;
  list-style: none;
  background-color: var(--bgColor);
  pointer-events: auto;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.5s;
}
.show {
  display: block;
}
.toc-child {
  list-style: none;
  padding-inline-start: 2rem;
}
.toc a {
  text-decoration: none;
  font-size: 1.5rem;
}
.article {
  text-align: justify;
}
.article-header {
  margin-bottom: 2rem;
}
.article-details {
  margin-top: 3rem;
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
}
.article-post-date {
  font-family: var(--global-font-family);
  color: var(--fontColor);
  transition: color 0.5s;
}
.article-details a {
  text-decoration: none;
}
a[class^='tag-'] {
  text-decoration: none;
  padding: 0.25rem;
}
.page-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.category-list-item::marker {
  content: none;
}
.category-list-item {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.category-list-link {
  font-size: 1.7rem;
  text-decoration: none;
}
.category-list-count {
  font-size: 1.7rem;
  font-family: var(--global-font-family);
  color: var(--fontColor);
}
.tag-cloud-container {
  margin: 1.5rem 0;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  font-size: 1.4rem;
  margin-top: auto;
  font-weight: 500;
}
.footer-info {
  font-family: var(--global-font-family);
  color: var(--fontColor);
  transition: color 0.5s;
  padding: 0.5rem 0;
}
.footer-info a {
  text-decoration: underline;
  color: var(--fontColor);
}
.footer-info a:hover {
  color: var(--spColor);
}
.footer-i {
  margin-left: 1rem;
}
.footer-i i {
  font-size: 1.4rem;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(128,128,128,0.7);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128,128,128,0.2);
}
::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}
.center-section img {
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: inline-block; /* Align the image as an inline-block element */
}
.left-section,
.center-section,
.right-section {
  width: 100%;
  display: flex;
  float: inherit;
  padding: 10px;
  text-align: center;
  align-items: center;
  align-content: stretch;
  justify-content: flex-end;
  flex-direction: column;
}
.content-wrapper {
  display: flex;
  flex-direction: column /* Stack items vertically by default */;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .content-wrapper {
    flex-direction: row /* Display items side by side on larger screens */;
  }
  .left-section,
  .center-section,
  .right-section {
    width: 50%;
    display: flex;
    float: inherit;
    padding: 10px;
    text-align: center;
    align-items: center;
    align-content: stretch;
    justify-content: flex-end;
    flex-direction: column;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem; /* 或适当的高度 */
  background-color: var(--bgColor);
  box-shadow: 0 -1px var(--bgColor);
  z-index: 998;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.5s;
  flex-direction: column;
}
.nav {
  display: flex;
  list-style: none;
  flex-grow: 1;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}
.nav::-webkit-scrollbar {
  display: none;
}
.nav-child {
  font-size: 1.7rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  cursor: pointer;
  font-family: var(--global-font-family);
  font-weight: 600;
  text-align: center;
}
.nav-child a {
  color: var(--fontColor);
  text-decoration: none;
  transition: color 0.5s;
  white-space: nowrap;
}
.nav-child a:visited {
  color: var(--fontColor);
  text-decoration: underline;
}
.nav-child a:hover {
  color: var(--spColor);
  text-decoration: underline;
}
.nav-child a:active {
  color: var(--spColor);
  text-decoration: underline;
}
.logo-section {
  text-align: center;
  margin-bottom: 0.3rem;
}
.logo-section img {
  max-width: 35%;
  height: auto;
}
.theme-switcher {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.4rem;
  display: flex;
  line-height: 2.5rem;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 999px;
}
.blog-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-bottom: 1.5rem;
}
.article h1 {
  margin-top: 2.4rem;
  margin-bottom: 2.2rem;
}
.article h2 {
  margin-top: 2.2rem;
  margin-bottom: 1.8rem;
}
.article h3 {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}
.article h4 {
  margin-top: 1.6rem;
  margin-bottom: 1.4rem;
}
.article h5 {
  margin-top: 1.4rem;
  margin-bottom: 1.2rem;
}
.article h6 {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 15px !important;
  line-height: 2.5rem;
  margin: 1.5rem 0;
}
code {
  background-color: var(--codebgColor);
  color: var(--spColor);
  font-family: Consolas, monospace !important;
  font-size: 13px;
  line-height: 2.5rem;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--global-font-family);
  color: var(--fontColor);
  transition: color 0.5s;
}
pre {
  margin: 1.5rem 0 !important;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
pre code {
  font-family: 'JetBrains Mono', monospace !important;
  padding: 0;
}
.article>ul {
  margin: 1.5rem 0;
}
.article>ol {
  margin: 1.5rem 0;
}
.article ul {
  padding-inline-start: 2rem;
}
.article ol {
  padding-inline-start: 2rem;
}
ul p {
  margin: 0;
}
ol p {
  margin: 0;
}
.article li {
  font-family: var(--global-font-family);
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--fontColor);
  transition: color 0.5s;
}
.article>blockquote {
  padding-right: 2rem;
}
blockquote {
  background-color: var(--bgColor2);
  padding-inline-start: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 2px solid var(--spColor);
  margin: 1.5rem 0;
  transition-property: background-color, color, border-color;
  transition-duration: 0.5s;
}
.article-table {
  max-width: 100%;
  margin: 1.5rem 0;
  overflow: auto;
}
table {
  font-size: 1.5rem;
  font-family: var(--global-font-family);
  transition-property: background-color, color;
  transition-duration: 0.5s;
  border-collapse: separate;
  border-spacing: 0;
}
thead {
  background: var(--bgColor2);
  color: var(--fontColor);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
tbody {
  color: var(--fontColor);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
th,
td {
  padding: 1.6rem;
  border-bottom: 1px solid var(--tbborder);
  position: relative;
  transition-property: border-color;
  transition-duration: 0.5s;
}
th:not(:last-child)::before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 2rem;
  background-color: var(--tbborder);
  transform: translateY(-50%);
  transition: background-color 0.5s;
  content: "";
}
del,
u {
  transition: text-decoration 0.5s;
}
hr {
  height: 1px;
  background-color: var(--tbborder);
  margin: 1.5rem 0;
}
.article img {
  max-width: 100%;
  display: block;
}
.post-list {
  list-style: none;
}
.post-list-child {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  font-family: var(--global-font-family);
  text-align: justify;
}
.post-list-left {
  display: flex;
  height: 2.16rem;
  flex-shrink: 1;
  width: calc(100% - 9rem);
}
.post-list-symbol {
  width: 3rem;
  flex-shrink: 0;
}
.post-list-child a {
  text-decoration: none;
  color: var(--fontColor);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post-list-child a:visited {
  color: var(--fontColor);
}
.post-list-child a:hover {
  color: var(--spColor);
}
.post-list-date {
  padding-left: 1rem;
  flex-shrink: 0;
  text-align: right;
  color: var(--fontColor);
  transition: color 0.5s;
}
.post-list-author {
  padding-left: 2rem;
  flex-shrink: 0;
  width: 11rem;
  height: 2.16rem;
  overflow: hidden;
  color: var(--fontColor);
  transition: color 0.5s;
  text-align: right;
}
@media (max-width: 650px) {
  .show-area {
    width: 100%;
    padding: 0 2rem;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-i {
    margin: 0 0.5rem;
  }
}
@-moz-keyframes main-up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes main-up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes main-up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes main-up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
