@font-face {
  font-family: "iconfont"; /* Project id 4371491 */
  src: url('//at.alicdn.com/t/c/font_4371491_0h6pxlwlcxqk.woff2?t=1702451084961') format('woff2'),
       url('//at.alicdn.com/t/c/font_4371491_0h6pxlwlcxqk.woff?t=1702451084961') format('woff'),
       url('//at.alicdn.com/t/c/font_4371491_0h6pxlwlcxqk.ttf?t=1702451084961') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e7de";
}

.icon-mail-fill:before {
  content: "\e86f";
}

.icon-linkedin:before {
  content: "\e87d";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-linkedin-fill:before {
  content: "\e890";
}
